@media print {
    @page {size: A4 landscape}
    body * {
        visibility: hidden;
    }
    .imprimable, .imprimable * {
        visibility: visible;
    }
    .imprimable {
        position: absolute;
        left: 0;
        top: 0;
    }
}

textarea {
    font-size:9px;
}

h1 {
    font-size: 15px;
}

body {
    font-family: Arial;
    font-size: 12px;
}

.LigneTableau {
    background: white;
    border-collapse: collapse;
}

.TRSpacer {
    height: 10mm
}

.Cell {
    padding: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    text-align: center;
    vertical-align: top;
    width: 17.8mm;
}
img {
    max-width: 17.7mm;
}
.CellEspace {
    border-color: white;
    height: 5mm;
}

.CellTableau {
    font-size: 9px;
    border-color: black;
    height: 25mm;
}
#listePicto img {
    padding: 10px;
}

[contenteditable]:focus{
    outline: 0px solid transparent;
}

#imagedrop {
    border: solid 2px #333333;
    border-radius: 10px;
}
